<clr-wizard #wizard [(clrWizardOpen)]='wizardState'>

    <clr-wizard-button 
        class="my-custom-button clr-wizard-btn-wrapper ng-star-inserted btn-warning-outline" 
        ng-reflect-type="custom-previous" 
        (click)="doCancel()">Досрочно завершить заявку</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Назад</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Вперед</clr-wizard-button>
    <clr-wizard-button [type]="'finish'" (click)="doFinish()">Отправить заявку</clr-wizard-button>

    <clr-wizard-page 
    [clrWizardPageNextDisabled]="!clientInfoForm.valid"
    (clrWizardPageOnCancel)="doCancel()">
        <ng-template clrPageTitle>Личная информация</ng-template>
        <form [formGroup]="clientInfoForm">
            <section class="form-block">
                <label>Введите информацию о клиенте:</label>
               
                <!-- CITY -->
                <div class="form-group">
                     <label for="city" class="required">Город:</label>
                    <div class="select">
                        <select id="city" formControlName="city">
                            <option *ngFor="let city of CITIES" [value]="city">{{city}}</option>
                        </select>
                    </div>  
                </div>
                    
                <!-- NAME -->
                <div class="form-group">
                    <label for="nameInput" class="required">Имя</label>
                        <input type="text" id="nameInput" formControlName="name" name="name">
                </div>

                <!-- ADRESS -->
                <div class="form-group">
                    <label for="adress" class="required">Адрес</label>
                    <input type="text" id="adress" formControlName="adress" name="adress">
                </div>

                <!-- PHONE -->
                <div class="form-group">
                    <label for="tel" class="required" >Контактный телефон</label>
                    <input type="tel" [textMask]="{mask: telMask}" id="tel" placeholder="(___) ___-__-__" formControlName="phoneNumber" >
                </div>

                <!-- EXTRA PHONE -->
                <div class="form-group">
                    <label for="tel2" >Дополнительный телефон</label>
                    <input type="tel" [textMask]="{mask: telMask}" id="tel2" placeholder="(___) ___-__-__" formControlName="extraPhoneNumber">
                </div>

                <!-- CALL REASON -->
                <div class="form-group">
                    <label for="reason" class="required">Причина обращения:</label>
                    <div class="select">
                        <select id="reason" formControlName="callReason">
                            <option *ngFor="let reason of REASONS" [value]="reason.value">{{reason.label}}</option>
                        </select>
                    </div>
                </div>

                <!-- EXTRA CALL COMMENT -->
                <div class="form-group">
                    <label for="comment">Комментарий</label>
                    <textarea id="comment" rows="5" formControlName="callReasonComment"></textarea>
                </div>

            </section>
        </form>
    </clr-wizard-page>

    <clr-wizard-page [clrWizardPageNextDisabled]="!selectedOffer">
        <ng-template clrPageTitle>Подключение услуг</ng-template> 
        <ng-template clrPageNavTitle>
            Выберите пакет услуг
        </ng-template> 
        
        <div class="clr-row">
            <div class="clr-col" *ngFor="let offer of offers; let i = index">
                <div class="card"  
                [ngStyle]="selectedStyle(i)" >
                    <div class="card-header">
                        {{offer.tariffPlan}}
                    </div>
                    <div class="card-block">
                      <div *ngFor="let package of offer.packages">
                          <p><strong>"{{package.name}}"</strong></p> 
                          <ul>
                              <li *ngFor="let service of package.services">{{service.name}} </li>
                          </ul>   
                          <p>Тариф: {{package.price()}}</p>      
                      </div>
                     
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm" (click)="selectOffer($event, offer, i)" >Подключить</button>
                    </div>
                </div>
            </div>
        </div>
    </clr-wizard-page>

    <clr-wizard-page >
        <ng-template clrPageTitle>Заявка на подключение</ng-template> <!-- mandatory -->
        <ng-template clrPageNavTitle>
            Сохранение заявки
        </ng-template> 

        <div>
            
            <form class="compact">
            <div>
                <label>Информация о клиенте</label>
                <section class="form-block">
                    <div class="form-group">
                        <label>Город</label>
                        <span>{{ clientInfoForm.get('city').value }}</span>
                    </div>
                    <div class="form-group">
                        <label>Имя</label>
                        <span>{{ clientInfoForm.get('name').value }}</span>
                    </div>
                    <div class="form-group">
                        <label>Адрес</label>
                        <span>{{ clientInfoForm.get('adress').value }}</span>
                    </div>
                    <div class="form-group">
                        <label>Телефон</label>
                        <span>{{ clientInfoForm.get('phoneNumber').value }}</span>
                    </div>
                </section>
            
            </div>
            <div>
                <label>Подключены услуги</label>
                <section class="form-block">
                    <div class="form-group">
                        <label>Тарифный план</label>
                        <span>{{ selectedOffer?.tariffPlan }}</span>
                    </div>

                    <div *ngFor="let package of selectedOffer?.packages">
                        <p><strong>"{{package.name}}"</strong></p>
                        <ul>
                            <li *ngFor="let service of package.services">{{service.name}} </li>
                        </ul>
                        <p>Тариф: {{package.price()}}</p>
                    </div>
                </section>
            
            </div>
            </form>
        </div>



    </clr-wizard-page>
</clr-wizard>
